@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --cyan: rgb(102, 226, 220);
    --orange: rgb(250, 116, 83);
    --Dark-yellow: rgb(255, 185, 100);
    --off-white: rgb(252, 250, 249);
    --lighter-black: rgb(25, 24, 38);
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 375px;
    background: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
}
/* desktop font-size: 1.25rem line-spacing: 2.125rem */
/* tablet font-size: 1rem line-spacing: 1.625*/

h1 {
    font-size: 5.5rem;
    border-spacing: -1px;
    line-height: 5.5em
}

h2 {
    margin: 0;
    font-size: 2.5rem;
    line-height: 1.3em;
}

h3 {
    margin: 0;
    font-size: 2rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* the above makes the middle section display wrong */

/* top section */
.title {
    position: absolute;
    height: 32px;
    width: 146.09px;
    top: 39.99px;
    left: 24.15px;
}

.about-us {
    position: absolute;
    width: 327px;
    top: 138px;
    left: 24px;
}

.mobile-background {
    position: absolute;
    width: 281.4px;
    height: 480px;
    top: -102px;
    left: 159px;
}

.tablet-background {
    display: none;
}

.pattern1 {
    display: none;
}

/* middle section */

.black-background {
    position: absolute;
    top: 620px;
    height: 600px;
    width: 375px;
    background-color: var(--lighter-black);
    border-radius: 12px;
}

.middle-section .pattern {
    position: absolute;
    width: 280px;
    left: 48px;
    height: 420px;;
}

.phone {
    height: 430px;
    position: absolute;
    top: 522px;
    left: 80.67px;
    z-index: 1;
}

.main .orange-background {
    position: absolute;
    height: 546px;
    width: 375px;
    top: 1003px;
    background: var(--orange);
    color: var(--off-white);
    padding: 3rem 2.25rem;
    border-radius: 12px;
}

.middle-section-text {
    margin: 0;
    padding: .75rem 0 2.25rem;
}

.cost {
    margin: 0;
    padding-left: .375rem;
    display: flex;
    font-size: 4.06rem;
    font-weight: 700;
}

.cost span {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 1em;
}
/* buttons */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0;
    width: 297px;
    height: 3.8125rem;
    border-radius: 15px;
    border: none;
}

.ios-btn {
    margin-top: 2rem;
    background: var(--lighter-black);
    color: var(--off-white);
    line-height: 2rem;
}

.ios-btn span{
    padding-top: .3rem;
}

.ios-btn:hover {
    background: var(--cyan)
}

.android-btn {
    margin: 1rem 0 3rem;
    background: var(--off-white);
    color: var(--lighter-black);
    line-height: 2rem;
}

.ios-btn img, .android-btn img {
    margin-right: .4875rem; 
}

.android-btn:hover {
    background: var(--Dark-yellow)
}

/* bottom section */
.bottom-section {
    position: absolute;
    top: 1612px;
    width: 375px;
    line-height: 1.625rem;
    padding: 1.5rem;
}

.bottom-section span {
    font-weight: 700;
    display: block
}

.bottom-section p {
    margin: 0;
    padding: 2em 0 4em 0;
}

.icons {
    position: absolute;
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

@media only screen and (min-device-width: 768px) {


    body {
        height: 1781px;
        width: 768px;
        font-size: 1.125rem;
        margin: 0;
    }

    /* .main {
        background: 
        url("images/bg-main-tablet.png")
        no-repeat;  
    } */
    /* top section */
    .mobile-background {
        display: none;
    }

    .tablet-background {
        display: inline;
        position: absolute;
        width: 983px;
        height: 808px;
        top: -119px;
        left: -254px;
    }

    .pattern1 {
        display: inline;
        position: absolute;
        width: 266.67px;
        height: 400px;
        top: -32px;
        left: 537px;
    }

    .about-us {
       width: 520px;
       height: 332px;
       top: 189px;
       left: 39px;
    }

    .about-us h2 {
        font-size: 3.55rem;
    }

    .title {
        top: 61.99px;
        left: 39.15px;
    }

    .phone {
        width: 270px;
        height: 556px;
        top: 632px;
        left: 97px;
    }


    /* mid section */
    .black-background {
        width: 696px;
        height: 600px;
        top: 770px;
        left: 33px;
    }

    .middle-section .pattern {
        width: 280px;
        left: 230px;
        top: -40px;
    }

    .main .orange-background {
        width: 399px;
        top: 920px;
        left: 272px;
        z-index: 1;
    }

    /* bottom section */
    .bottom-section {
        width: 696px;
        height: 143px;
        top: 1553px;
        left: 33px;  
        padding: 0 0 5rem 0;
    }

    .bottom-section p {
        width: 366px;
        height: 79px;
        top: 64px;
    }
    .bottom-section .icons {
        width: 100px;
        height: 100px;
        top: 94px;
        left: 596px;
    }
    }

    @media only screen and (min-device-width: 1440px) {
        /* top section */
        body {
            height: 1832px;
            width: 1440px;
        }

        .pattern1 {
            width: 312px;
            height: 468px;
            top: -40px;
            left: 1128px;
        }

        .about-us {
            left: 165px;
        }
        
        .about-us h2 {
            width: 1015px;
            font-size: 5.5rem;
            line-height: 5.5rem;
            letter-spacing: -1;
        }

        .about-us p {
            width: 825px;
            font-size: 1.25rem;
            line-height: 1.75em;
        }

        .title {
            left: 166.15px;
        }
        /* mid section */

        .black-background {
            width: 1110px;
            height: 600px;
            top: 860px;
            left: 165px;
        }

        .middle-section .pattern {
             position: absolute;
            width: 312px;
            height: 468px;
            left: 330px;
        }

        .phone {
            top: 732px;
            left: 302px;
        }

        .main .orange-background {
            width: 446px;
            height: 625px;
            top: 950px;
            left: 734px;
            font-size: 1.25rem;
            padding: 3.375rem;
        }

        .orange-background h3 {
            font-size: 2.5rem;
        }

        .middle-section-text {
            width: 333px;
            font-size: 1.25rem;
            line-height: 2.125rem;
        }

        .btn {
            width: 333px;
        }

        .ios-btn {
            margin: 1.93rem 0;
        }

        /* bottom section */
        .bottom-section {
            width: 1110px;
            /* top: 1662px;
            left: 165px;
            font-size: 1rem; */
        }

        .equalizer-logo {
            position: absolute;
            width: 146.09px;
            height: 32px;
            top: 100px;
            left: 135px;
        }
        .test-text {
            position: absolute;
            width: 366px;
            left: 400px;
            height: 79px;
            font-size: 1rem;
        }

        .test-text span {
            display: inline-block
        }

        .bottom-section .icons {
            width: 100px;
            left: 1140px;
            top: 125px;
        }
    }