@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin-top: 0;
    outline: 1px solid red;
}

:root {
    --light-green: rgb(84,230,175);
    --dark-purple: rgb(44,52,75);
    --lighter-black: rgb(18,23,37);
    --white: rgb(255,255,255);
    --light-purple: rgb(90,102,138);
    --purple-white: rgb(194,203,229);
}

body {
    font-family: 'chivo', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: 23.43rem;
    height: 41.68rem; 
    color: var(--white);
    background-color: var(--lighter-black);
}

.background-image {
    width: 23.43rem;
    height: 41.68rem;
    background-color: rgba(0,0,0,0.8);
    background-image: url(assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.title-image {
    position: absolute;
    width: 8.428rem;
    height: 3.5rem;
    top: 3.875rem;
    left: 7.5rem;
    line-height: 2.37rem;
}

.dot-image {
    display: none;
}

.hero-text {
    position: absolute;
    width: 20.43rem;
    height: 24.85rem;
    top: 10.93rem;
    left: 1.5rem;
}

.hero h1 {
    font-size: 1.625rem;
    color: var(--light-green);
    text-transform: uppercase;
    line-height: 2.25rem;
}

.hero span {
    color: var(--white);
    font-weight: 400;
}

p {
    text-align: justify;
    font-weight: 400;
    color: var(--purple-white);
    font-size: 0.93rem;
    line-height: 1.56rem;
}

.podcasts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 19.68rem;
    height: 1.06rem;
    top: 25rem;
    left: 1.875rem;
    color: var(--purple-white)
}

.spotify-logo {
    width: 3.5rem;
    height: 1.06rem;
}

.apple-logo {
    width: 2.81rem;
    height: 1.06rem;
}

.google-logo {
    width: 4.56rem;
    height: 0.68rem;
}

.pocket-logo {
    width: 4.81rem;
    height: 0.93rem;
}

.btn {
    font-size: .87rem;
    width: 20.43rem;
    height: 2.87rem;
    left: 1.56rem;
    border-radius: 28px;
    line-height: 1.75rem;
}

.address {
    position: absolute;
    background: var(--dark-purple);
    color: rgba(255,255,255,.5);
    padding-left: 2rem;
    top: 29.06rem;
}

::placeholder {
    color: rgba(255,255,255,.5);
    font-size: .87rem;
}

.submit-btn {
    position: absolute;
    background: var(--light-green);
    color: var(--lighter-black);
    top: 32.93rem;
}

@media only screen and (min-width: 768px){
    .container {
        width: 48rem;
        height: 64rem;
        background: var(--lighter-black);
    }
    
    .background-image{
        position: absolute;
        width: 491px;
        height: 767px;
        left: 277px;
        background-color: var(--white);
        background-image: url(assets/tablet/image-host.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
    }

    .title-image {
        position: absolute;
        top: 3.12rem;
        left: 2.43rem;
    }

    .hero {
        background-color: var(--lighter-black);
        position: absolute;
        width: 39.68rem;
        height: 31.81rem;
        top: 16.12rem;
        left: 2.43rem;
    }

    .hero-text {
        position: absolute;
        height: 26rem;
        top: 5.81rem;
        left: 0;
        width: inherit;
    }
    
    .hero-text h1{
       font-size: 3rem;
       left: 0px;
       font-size: 3rem; 
       line-height: 3.5rem;
    }

    .hero p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        width: 27.81rem;
        text-align: left;
    }

    .btn-container {
        width: 26.68rem;
        top: 38.63rem;
        left: 2.43rem;
        height: 3.5rem;
        margin: 0;
        position: absolute;
    }

    .btn {
        left: 0;
    }

    .address {
        width: 26.68rem;
        height: 3.5rem;
        top: 0;
    }

    .submit-btn {
        width: 10.12rem;
        height: 2.87rem;
        top: 5px;
        left: 16.25rem
    }

    .podcasts {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 33.5rem;
        height: 1.81rem;
        top: 46.12rem;
        left: 2.43rem;
    }

    .spotify-logo {
        width: 6rem;
        height: 1.81rem;
    }

    .apple-logo {
        width: 4.87rem;
        height: 1.81rem;
    }

    .google-logo {
        width: 7.81rem;
        height: 1.125rem;
    }

    .pocket-logo {
        width: 8.06rem;
        height: 1.62rem;
    }

    .dot-image {
        display: inline;
        position: absolute;
        top: 920px;
        left: 30px;
    }



}