@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --light-green: rgb(84,230,175);
    --dark-purple: rgb(44,52,75);
    --lighter-black: rgb(18,23,37);
    --white: rgb(255,255,255);
    --light-purple: rgb(90,102,138);
    --purple-white: rgb(194,203,229);
}

body {
    background: var(--lighter-black);
    font-family: 'chivo', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.main {
    background: var(--lighter-black);
    color: var(--white);
    position: relative;
    width: 23.43rem;
    height: 41.68rem; 
}